:root{
    --primary-color: #7c4fe0;
    --secondary-color: #222;
}

h1, h2, h3, h4, h5, h6, p, span, strong, a{
    color: var(--secondary-color);
}

a:hover{
    color: var(--primary-color);
}

ul{
    list-style: none;
}


.accordion-item{
    padding-block: 20px;
    border: 0;
    border-bottom: 1px solid gray;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed) h4 {
    color: var(--primary-color);
    background-color: white;
    box-shadow: none;
    outline: none;
}
